:root{
    --prim-col: #FF6B1A;
    --sec-col: #006663;
    --col-1: #662400;
    --col-2: #B33F00;
    --col-3: #00B3AD;
}
section{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
body{
    font-family:Bahnschrift, sans-serif;
    background-color: var(--sec-col);
}
p{
    color: var(--prim-col);
}
h1{
    font-size: 3.5rem;
    text-align: center;
    color: var(--prim-col);
}
.startup-title{
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    margin-top: 200px;
    margin-left: -50px;
    width: 100%;
    padding: 10px;
    height: 200px;
    text-align: center;
    font-family:Bahnschrift, sans-serif;
    color: var(--prim-col);
}
.startup-bg-deco{
    clip-path: polygon(0 0, 0% 100%, 45% 100%);
    background-color: #00B3AD;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
    z-index: -3;
}
.startup-title-image{
    width: 300px;
    height: 300px;
}
.startup-directory{
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 300px;
    height: 85px;
    padding: 10px;
    margin: auto;
    transition: .2s all ease-in-out;
}
.startup-screen{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}
.direc-sec{
    margin-top: 200px;
    width: 100%;
    text-align: center;
}
.head-button{
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    transition: .2s all ease-in-out;
}
.head-button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.active{
    visibility: visible;
    animation: scaleAnimIn .4s ease-in-out;
}
@keyframes scaleAnimIn {
    0%{opacity: 0}
    100%{opacity: 100%}
}
@keyframes scaleAnimOut {
    0%{opacity: 100%}
    100%{opacity: 0}
}
.inactive{
    visibility: hidden;
    animation: scaleAnimOut .4s ease-in-out;
    transform: scale(0);
}
.sec-header{
    background-color: rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 100px;
    border-radius: 20px;
    margin: auto;
}
.sec{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.lesson-choose-bar{
    opacity: 0;
    visibility: visible;
    scale: 0;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 80%;
    margin: auto;
    transition: .2s all ease-in-out;
    animation: lcb-anim .2s ease-in-out;
}
@keyframes lcb-anim{
    0%{transform: scaleY(0)}
    100%{transform: scaleY(1)}
}
.lesson-button{
    margin-top: 10px;
}
.cred-button{
    margin-top: -300px;
}
.top-bar{
    width: 100%;
    height: 70px;
    background-color: var(--col-3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 0;
    left: 0;
    position: fixed;
}
.top-bar-toggle{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--col-3);
    width: 60px;
    height: 30px;
    margin: 70px auto auto;
}
i{
    text-align: center;
    color: white;
    margin: auto;
    top: 0;
    left: 0;
    position: absolute;
}